/* front.html의 스타일 */

body{font-family: Lucida grande !important; padding: 0px; margin: 20px;}
#container{border: 1px solid gray; width: 500px; margin: 0 auto; padding: 20px;}

/* header */
#header, form{width: 480px; margin: 0px 20px auto;}
h1{margin: 0;}

legend{margin-top: 20px;}
ul{margin-top: 20px; margin-bottom: 20px;}
ul li{list-style: none; margin-bottom: 10px;}
.info{width: 50px; float: left;}

.ul3{padding-left: 0;}

.buttons{margin-top: -10px; margin-left: 20px;}
input[type="submit"], input[type="submit"]{padding: 5px;}

