h1{color: #d069a3;}
h2{
    @font-face {
    font-family: 천안어린이꿈누리터;
    src: local("cachildren-modu"),
    url(cachildren-modu.otf);
     }
}
P{  
    @font-face {
        font-family: 나눔고딕;
        src: local("NanumGothic"),
        url(NanumGothic.ttf);
         }
    line-height: 2;
}
span{
    font-weight: bold;
    font-size: 20px;
    color: red;
}
a{
    font-size: 20pt;
    text-decoration: none;
    color: #000;
}