/* index.html의 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@700&display=swap');

/* common(공통) */
*{margin: 0; padding: 0; font-family: 'Gothic A1', sans-serif;}
a{text-decoration: none;} 
ul{list-style: none;}
#wrap{width: 1200px; margin: 0 auto;}

/* header */
header{width: 100%; height: 100px; background: palevioletred;}
header #logo{float: left; width: 250px; line-height: 100px;}
header #logo h1{padding-left: 20px; color: black; text-shadow: 3px 3px 3px pink;
  font-family: 'Edu TAS Beginner', cursive; font-size: 50px;}
header nav{float: right; width: 900px; padding-top: 40px;}
header nav ul{margin-left: 282px;}
/* menu(main) */
#topmenu{height: 60px;}
#topmenu > li{float: left; position: relative;} /* 자식요소만 선택 */
#topmenu > li > a{display: block; color: black; padding: 20px 40px;}
#topmenu > li > a:hover{text-decoration-line: line-through;}
/* menu(sub) */
#topmenu > li > ul{background: black; display: none; 
  position: absolute; width: 160px; top: 60px; left: -282px;}
#topmenu > li:hover > ul{display: block; z-index: 10;}
#topmenu > li > ul > li{padding: 8px 40px; text-align: left;}
#topmenu > li > ul > li > a{color: pink; font-size: 14px;}
#topmenu > li > ul > li > a:hover{text-decoration-line: line-through;}

/* section */
#contents{height: 800px; margin-top: 130px;}
/* tabMenu */
#tabMenu{width: 600px; margin: 0 auto;}
#tabMenu input[type="radio"]{display: none;}
#tabMenu label{padding: 15px 25px; color: black; display: inline-block;}
#tabMenu label:hover{font-style: italic; text-decoration-line: underline;}
#tabMenu input:checked + label{color: rgb(230, 172, 191); border: 1px solid black; background: black;}
/* notice, gallery */
#tabMenu .tabContent{display: none; padding: 20px 0 0 0; border-top: 1px solid black;} 
#tab1:checked ~ #notice, #tab2:checked ~ #gallery{display: block;} /* '~' : 형제 선택자 모두 선택 */
#tabMenu .tabContent h2{display: none;}
#notice ul{margin-left: 30px; list-style: square;}
#notice ul li{line-height: 3; font-size: 15px;}
#gallery ul li{display: inline;}
#gallery ul li img{border: 2px dotted palevioletred; border-radius: 50px; 
  box-shadow: 5px 5px 5px gray; margin: 10px 25px;}